.App {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px 15px;
  background: rgb(23, 18, 99);
  background: linear-gradient(
    180deg,
    rgba(23, 18, 99, 1) 0%,
    rgba(61, 61, 138, 1) 16%,
    rgba(123, 157, 221, 1) 100%,
    rgba(216, 229, 251, 1) 125%,
    rgba(216, 229, 251, 1) 127%,
    rgba(214, 229, 254, 1) 131%,
    rgba(214, 229, 255, 1) 132%,
    rgba(214, 229, 255, 1) 133%
  );
  border-radius: 10px;
  -webkit-box-shadow: 9px 5px 15px -4px rgba(0, 0, 0, 0.46);
  box-shadow: 9px 5px 15px -4px rgba(0, 0, 0, 0.46);
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
.App footer {
  font-size: 13px;
  margin: 20px 5px;
  text-align: center;
}
.App a {
  color: #212529;
}
