.Weather {
  border: 1px solid #dadde1;
  font-family: arial, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  max-width: 600px;
  border-radius: 4px;
}
.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
  margin-bottom: 10px;
  color: rgb(33, 33, 33);
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  display: inline-block;
  margin-right: 7px;
  margin-top: 5px;
}

.Weather .temperature {
  font-weight: 350;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  line-height: 1;
}
.btn-primary {
  color: #fff;
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}

.btn-primary:hover {
  color: #fff;
  background-color: #303030;
  border-color: #303030;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 3px rgba(150, 150, 150);
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}

.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: #303030;
  background-image: #303030;
  border-color: #303030;
}
